
/*************************/
/*Input e botao de busca*/
/*************************/

.searchBar {
	width: 90%;
	margin: auto;
	display: block;
	padding: /*1.5vw;*/ 16px;
	display: flex; align-items: center;
}

.searchBar input[type=text]{
	padding: 6px 10px; //.4vw .8vw; 
	font-size: 17px; //1.1vw; 
	width:80%;
	border: 1px solid #555;
	border-radius: 20px 0 0 20px;
	color: #555;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.searchBar button {
	width: 15%;
	padding: 6px .8vw; //.4vw .8vw; 
	background-color: white;
	color: #555;
	font-size: 17px; //1.1vw; 
	cursor: pointer;
	border: 1px solid #555;
	border-radius: 0 20px 20px 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




